<p id="notice"><%= notice %></p>

<p>
  <strong>Resion:</strong>
  <%= @leafe.resion %>
</p>

<p>
  <strong>Days:</strong>
  <%= @leafe.days %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @leafe.employee_id %>
</p>

<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
