<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_name %>
    <%= form.text_field :plan_name %>
  </div>

  <div class="field">
    <%= form.label :plan_description %>
    <%= form.text_field :plan_description %>
  </div>

  <div class="field">
    <%= form.label :plan_amount %>
    <%= form.text_field :plan_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
