<div class="container mt-3">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="card shadow">
				<div class="card-header">
					<h3><b>Name :</b> <%= @student.name %></h3>
					<h6>
						<b>Age :</b> <%= @student.age %>
					</h6>
				</div>
				<div class="card-body">
					<h5 class="card-title"><b>Email :</b> <%= @student.email %></h5>
					<p class="card-text"><b>About :</b> <%= @student.about %></p>
					<%= link_to "Back", students_path, class: "btn btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>
