
<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th>Plan name</th>
      <th>Plan description</th>
      <th>Plan amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.plan_name %></td>
        <td><%= plan.plan_description %></td>
        <td><%= plan.plan_amount %></td>
        <td><%= button_to '+', add_plan_path(plan) %></td>
        <td><%= button_to '-', remove_plan_path(plan), method: :delete %> </td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p id="notice"><%= notice %></p>

<h1>Students</h1>
Email: <%=  current_student.email %><br>
<br>
<br>
<table>
  <th><strong>Student Rights</strong></th>
  <tr><td></td><tr>
  <tr><td></td><tr>
  <tr><td><strong>Books</strong></td><tr>
  <tr><td><%= link_to 'View Books', books_path %></td></tr>
  <tr><td></td><tr>
  <tr><td></td><tr>
</table>
<%= link_to "SignOut", destroy_student_session_path, method: :delete %>